<{if (! $data.kind ) }>
  <h3>你還沒有建立報名表！</h3>
  <{else}>
    <h3>管理報名表</h3>
    <{/if}>
      <{$i++}>
        <{foreach key=key item=sign from=$data.kind }>
          <{if ($sign.cando) }>
            <div class="row  alert-success" oid="<{$sign.id}>">
              <{ else }>
                <div class="row" oid="<{$sign.id}>">
                  <{/if}>

                    <span class="col-md-5  col-xs-5">
                      <div class="alert alert-info">
                        <span class="badge badge-info">
                          <{$i++}>
                        </span>
                        <{$sign.title}>
                      </div>
                      <div class="col-xs-offset-1">
                        <{$sign.doc|nl2br}>
                      </div>
                    </span>
                    <span class="col-md-1 col-xs-1">
                      <{$sign.admin}>
                    </span>
                    <span class="col-md-2 col-xs-3">
                      <span class="btn btn-primary edit">編修</span>
                      <a class="btn btn-success" href="export.php?mid=<{$sign.id}>" title="匯出 EXCEL 檔">匯出</a>
                    </span>
                    <{if ($system_admin)}>
                      <span class="col-md-2  col-xs-3">
                        <a class="btn btn-danger" onclick='return confirm("確定要刪除報名表?")' href="index.php?del_id=<{$sign.id}>">刪除</a>
                        <a class="btn btn-warning" onclick='return confirm("確定要清空報名資料?")' href="index.php?clear_id=<{$sign.id}>">清空</a>
                      </span>
                      <{/if}>
                        </span>
                        <span class="col-md-1 col-xs-2 show" data_ref="status_<{$sign.id}>" title='點選查看各班填報情形'>已填:
                          <{$data.class_sum[$sign.id]}>
                        </span>
                        <span class="col-md-6  col-xs-6" id="status_<{$sign.id}>" style="display:none">

                          <{foreach key=class_id item=input_sum from=$data.input_sum[$sign.id] }>
                            <{if $input_sum }>
                              <div class="col-xs-3">
                                <span>
                                  <{$data.class_list_c[$class_id]}>
                                    <span class="badge">
                                      <{$input_sum}>
                                    </span>
                                </span>
                              </div>
                              <{else}>
                                <div class="col-xs-3">
                                  <span>
                                    <{$data.class_list_c[$class_id]}>
                                  </span>
                                </div>
                                <{/if}>
                                  <{/foreach}>

                        </span>
                </div>
                <hr />
                <{/foreach}>

                  <script>
                    //編修
                    $(document).on("click", ".edit", function() {

                      var oid = $(this).parent().parent().attr("oid");
                      //	alert(oid) ;
                      //轉址
                      var url = "add_kind.php?do=edit&id=" + oid;
                      $(location).attr('href', url);

                    });

                    // show
                    $(document).on("click", ".show", function() {
                      var div_id = $(this).attr("data_ref");
                      $('#' + div_id).toggle();
                    });
                  </script>
