<link rel="stylesheet" type="text/css" media="all" href="<{$xoops_url}>/modules/tadtools/bootstrap/css/bootstrap.css" />
<link rel="stylesheet" type="text/css" media="all" href="<{$xoops_url}>/modules/tadtools/bootstrap/css/bootstrap-responsive.css" />
<link rel="stylesheet" type="text/css" media="all" href="<{$xoops_url}>/modules/tadtools/css/xoops_adm.css" />
 
<div class="row-fluid" >
<table class="table table-hover span5">
<tr><th>班級</th><th>報名人數</th></tr>
<{foreach  key=key item=class_sign   from=$data  }>
<tr><td><{$key}></td><td><{$class_sign}></td></tr>
<{/foreach}>
</table>
 
</div>

 