<link rel="stylesheet" type="text/css" media="all" href="<{$xoops_url}>/modules/tadtools/bootstrap/css/bootstrap.css" />
<link rel="stylesheet" type="text/css" media="all" href="<{$xoops_url}>/modules/tadtools/bootstrap/css/bootstrap-responsive.css" />
<link rel="stylesheet" type="text/css" media="all" href="<{$xoops_url}>/modules/tadtools/css/xoops_adm.css" />
 
<{if (! $data.kind ) }>
<h3>你還沒有建立報名表！</h3>
<{else}>
<h3>管理報名表</h3>
<{/if}>
<{$i++}>
<{foreach  key=key item=sign   from=$data.kind  }>
<{if ($sign.cando) }>
<div class="row-fluid  alert-success"  oid="<{$sign.id}>">
<{ else }>
<div class="row-fluid" oid="<{$sign.id}>">
<{/if}>

<span class="span5"><div class="alert alert-info"><span class="badge badge-info"><{$i++}></span><{$sign.title}></div><div class="span10 offset1"><{$sign.doc|nl2br}></div>
</span>
<span class="span1"><span class="edit"> <i class="icon-pencil" title="編修"></i></span><{$sign.admin}></span>
<span class="span1">
<a class="btn btn-success" href="export.php?mid=<{$sign.id}>">匯出名單</a>  
</span>
<{if ($system_admin)}>
<span class="span2">
<a class="btn btn-danger" onclick='return confirm("確定要刪除報名表?")' href="index.php?del_id=<{$sign.id}>">刪除</a>  
<a class="btn btn-warning"  onclick='return confirm("確定要清空報名資料?")' href="index.php?clear_id=<{$sign.id}>">清空</a>  
</span>
<{/if}>
</span>
<span class="span1 show" data_ref="status_<{$sign.id}>">(已填:<{$data.class_sum[$sign.id]}>)</span>
<span class="span3" id="status_<{$sign.id}>" style="display:none">
	<{foreach  key=class_id  item=input_sum   from=$data.input_sum[$sign.id]  }>
		<{if  $input_sum }>
		<span class="label  label-success"><{$class_id}>(<{$input_sum}>) </span> ,
		<{else}>
		<span class="label"><{$class_id}>(<{$input_sum}>)</span> ,
		<{/if}>
	<{/foreach}>
</span>
</div>
<hr />
<{/foreach}>

<script>
    //編修
  $(document).on("click", ".edit", function(){

    	var oid = $(this).parent().parent().attr("oid")  ;
    //	alert(oid) ;
    //轉址
    	var url = "add_kind.php?do=edit&id="+ oid;    
    	$(location).attr('href',url);
 
  });

    // show
  $(document).on("click", ".show", function(){
      var div_id = $(this).attr("data_ref")  ;
      $('#'+div_id).toggle() ;
    }) ;
  </script>