<link rel="stylesheet" type="text/css" media="all" href="<{$xoops_url}>/modules/tadtools/bootstrap/css/bootstrap.css" />
<link rel="stylesheet" type="text/css" media="all" href="<{$xoops_url}>/modules/tadtools/bootstrap/css/bootstrap-responsive.css" />
<link rel="stylesheet" type="text/css" media="all" href="<{$xoops_url}>/modules/tadtools/css/xoops_adm.css" />
<script language='javascript' type='text/javascript' src='<{$xoops_url}>/modules/tadtools/My97DatePicker/WdatePicker.js'></script>

<{ if ( ! $data.edit_kind) }>
<!----- 新增模式 -->
<div class="row-fluid">
    <form class="form-inline"  action="add_kind.php" method="post">
    <fieldset>
    <legend>新增報名表</legend>
    <!--  報表名別  -->
    <div class="row-fluid">
    	<div class="span6">
		<div>
    		<label>報名表名稱</label>
    		<input type="text" id="doc_title" name="doc_title" placeholder="報名表名稱" class='span8'>
    		</div>

 		<div>
    		<label  >舊樣版</label>
		<{html_options name="old_templ" options=$data.kind  class='span8' }>
		<button type="submit" class="btn btn-info"  id="templ"  name='templ' value='templ' onclick="return check_1() ;" >套用</button>

		</div>

 		<div>
     		<label>說 明：</label>
     		</div>
    		<textarea class="span10" rows="4"  name="txtDoc" placeholder="填表時說明內容 ..... "></textarea>

    	</div>

    	<div class="span6">
    		<span  class="label label-info" >填報時間設定</span>
    		 <input type='text'  onclick="WdatePicker({dateFmt:'yyyy-MM-dd'})"  name='beg_date'  class='span3'   value="<{$data.beg_date}>" placeholder="指定開始日期">~
    		  <input type='text'  onclick="WdatePicker({dateFmt:'yyyy-MM-dd'})"  name='end_date'  class='span3'   value="<{$data.end_date}>" placeholder="指定截止日期">
    		 <br />

    		<span  class="label label-info" >填報年級限制</span> <br/>
    		<{foreach  key=key item=grade   from=$data.grade }>
    		<label class="checkbox">
   		 <input type="checkbox" name="grade[<{$grade}>]"  value="<{$grade}>" class="grade_select" checked ><{$grade}>年級
    		</label>
    		<{/foreach}>

    		<div>
    		<span  class="label label-info" >人數限制</span>    <br/>
     		<label>正取</label>
			<input class="span1" name="txtGet"  type="text"  value="10" title="正取人數"  placeholder="正取人數">
		<label>備取</label>
			<input class="span1" name="txtGetMore"   value="0" type="text" title="備取人數" placeholder="備取人數">
		</div>

		<!--  擷取學生資料  -->
		<div  >
			<span  class="label label-info" >一併匯出學生資料</span>    <br/>
    			<{foreach  key=key item=stud   from=$DEF_SET.export }>
    			<label class="checkbox">
   		 	<input type="checkbox" name="stud[<{$key}>]"  value="<{$key}>"><{$stud}>
    			</label>
    			<{/foreach }>
     		</div>
      </div>

 </div>


     <!--  項目別  -->
     <h4  >額外輸入欄位</h4>

    <div class="row-fluid  alert-success"  id="field">
    	<div class="row-fluid" >

  	<span class="span2"><span class="label">欄名</span></span>
	<span class="span1"><span class="label">格式</span></span>
	<span class="span1"><span class="label">欄寬1~3</span></span>
	<span class="span3"><span class="label">預設值</span></span>
	</div>
	<{section name=ti  start=1  loop=$DEF_SET.fields   step=1  }>

    	<div  class="row-fluid">

  	<span class="span2">
        <span class="badge badge-info"><{$smarty.section.ti.index}></span>
        <input class="span8" name="txtItemName[]" type="text" title="空白表示不使用" placeholder="欄名,空白則不使用">
    </span>
  	<span class="span2">
               <select class="span10" name="selI_Mode[]">
                <option value="s">字串</option>
                <option value="n">數字</option>
                <option value="d">日期</option>
                <option value="o">選項</option>
              </select>
        </span>
        <span class="span1"><input class="span10" name="txtI_Width[]"  value="1" title="1~3" type="text">  </span>
	<span class="span3"><input class="span10" name="txtI_def[]" type="text"  title="預設值(選項時，以逗號分隔)" placeholder="預設值(選項時，以逗號分隔)">     </span>
	</div>
 	<{ /section }>

    </div>

    <button type="submit" class="btn btn-primary" name='ADD' value='ADD' onclick="return check_1() ;"> 新增</button>
    </fieldset>
    </form>
<div>
    說明：
<ul>
<li>
    如果有多項類別，以路隊編排為例，分北門、正門、南門、接送等。請在額外輸入欄位加一組<span class="label">隊伍</span>，
    格式為<span class="label">選項</span>，在預設值輸入 <span class="label">北門,正門,...]</span>。
</li>
<li>
    班級在輸入時，就可以輸入<span class="label"> 1 號 選擇正門</span>，<span class="label">2 號選擇 北門</span> ...
</li>
<li>
    匯出的 Excel ，再自行以排序或過濾方式取得各類別資料。
</li>
</ul>
</div>

</div>
	<script>
	function check_1() {
		//alert ($("#assn").val() ) ;
		if (  $("#doc_title").val()=="" ) {
			alert ('需要輸入標題！')　;
			return false ;
		}

	}
	</script>

<{ else  }>
<!----- 編修模式---------------------------------------------------------------------------------------------------------------------------------------------------------------- -->
<{foreach  key=key item=sign   from=$data.edit_kind  }>
<div class="row-fluid">
    <form class="form-inline"  action="add_kind.php" method="post">
    <fieldset>
    <legend>修改報名表</legend>
    <!--  報表名別  -->
    <div class="row-fluid">
    	<div class="span6">
		<div>
    		<label>報名表名稱</label>
    		<input type="text" name="doc_title" placeholder="報名表名稱" value="<{$sign.title}>" class='span8'>
    		</div>

 		<div>
     		<label>說 明：</label>
     		</div>
    		<textarea class="span12" rows="4"  name="txtDoc" placeholder="填表時說明內容 ..... " ><{$sign.doc}></textarea>

    	</div>

    	<div class="span6">
    		<span  class="label label-info" >填報時間設定</span>
    		 <input type='text'  onclick="WdatePicker({dateFmt:'yyyy-MM-dd'})"  name='beg_date'  class='span3'   value="<{$sign.beg_date}>" placeholder="指定開始日期">~
    		  <input type='text'  onclick="WdatePicker({dateFmt:'yyyy-MM-dd'})"  name='end_date'  class='span3'   value="<{$sign.end_date}>" placeholder="指定截止日期">
    		 <br />

    		<span  class="label label-info" >填報年級限制</span> <br/>
    		<{foreach  key=key item=grade   from=$data.grade }>
    		<label class="checkbox">
   		 <input type="checkbox" name="grade[<{$grade}>]"  value="<{$grade}>" class="grade_select"
   		 <{ if $sign.grade[$grade] }> checked <{/if}>
   		 ><{$grade}>年級
    		</label>
    		<{/foreach}>

    		<div>
    		<span  class="label label-info" >人數限制</span>    <br/>
     		<label>正取</label>
			<input class="span1" name="txtGet"  type="text"    title="正取人數"  placeholder="正取人數" value="<{$sign.stud_get}>" >
		<label>備取</label>
			<input class="span1" name="txtGetMore"  type="text" title="備取人數" placeholder="備取人數"  value="<{$sign.stud_get_more}>">
		</div>

		<!--  擷取學生資料  -->
		<div  >
			<span  class="label label-info" >一併匯出學生資料</span>    <br/>
    			<{foreach  key=key item=stud   from=$DEF_SET.export }>
    			<label class="checkbox">
   		 	<input type="checkbox" name="stud[<{$key}>]"  value="<{$key}>"
   		 		<{ if $sign.field_get[$key] }> checked  <{/if}>
   		 	><{$stud}>
    			</label>
    			<{/foreach }>
     		</div>
      </div>

 </div>


     <!--  項目別  -->
     <h4  >額外輸入欄位</h4>
    <div class="row-fluid  alert-success"  id="field">
    	<div class="row-fluid" >

  	<span class="span2"><span class="label">欄名</span></span>
	<span class="span1"><span class="label">格式</span></span>
	<span class="span1"><span class="label">欄寬1~3</span></span>
	<span class="span3"><span class="label">預設值</span></span>
	</div>
	<{section name=ti  start=1  loop=$DEF_SET.fields   step=1  }>
	<{assign var="nti" value=$smarty.section.ti.index }>
    	<div  class="row-fluid">
  	<span class="span2">
        <span class="badge badge-info"><{$nti}></span>
        <input class="span8"  name="txtItemName[]"  value="<{$sign.field_input[$nti][1] }>"  type="text" title="空白表示不使用" placeholder="欄名,空白則不使用"> </span>
  	<span class="span2">
               <select class="span10" name="selI_Mode[]">
                <option value="s"  <{ if ($sign.field_input[$nti][2]=='s') }>selected <{/if}> >字串</option>
                <option value="n" <{ if ($sign.field_input[$nti][2]=='n') }>selected <{/if}>>數字</option>
                <option value="d" <{ if ($sign.field_input[$nti][2]=='d') }>selected <{/if}>>日期</option>
                <option value="o" <{ if ($sign.field_input[$nti][2]=='o') }>selected <{/if}>>選項</option>
              </select>
        </span>
        <span class="span1"><input class="span10" name="txtI_Width[]"  value="<{$sign.field_input[$nti][3]}>" title="1~3" type="text">  </span>
	<span class="span3"><input class="span10" name="txtI_def[]" type="text"  value="<{$sign.field_input[$nti][4]}>" title="預設值(選項時，以逗號分隔)" placeholder="預設值(選項時，以逗號分隔)">     </span>
	</div>
 	<{ /section }>

    </div>
    <div class="alert alert-block"><h4>注意!</h4>開始報名後，再修改額外欄位，先前報名者需再修正資料，否則可能造成資料不完整的情形！</div>
	<input type='hidden' name='okind_id'   value='<{$sign.id }>'  >
    <button type="submit" class="btn btn-primary" name='ADD' value='edit'  >修改</button>
    <button type="submit" class="btn btn-danger" name='btn_del' value='del'  onclick='return confirm("確定要刪除?")'  >刪除</button>
    <button type="submit" class="btn btn-warning" name='btn_clear' value='clear'  onclick='return confirm("確定要清空報名資料?")'   >清空報名資料</button>
    </fieldset>
    </form>


</div>
<{/foreach}>


<{ /if }>
