<link rel="stylesheet" type="text/css" media="all" href="<{$xoops_url}>/modules/tadtools/bootstrap/css/bootstrap.css" />
<link rel="stylesheet" type="text/css" media="all" href="<{$xoops_url}>/modules/tadtools/bootstrap/css/bootstrap-responsive.css" />
<link rel="stylesheet" type="text/css" media="all" href="<{$xoops_url}>/modules/tadtools/css/xoops_adm.css" />
<script language='javascript' type='text/javascript' src='<{$xoops_url}>/modules/tadtools/My97DatePicker/WdatePicker.js'></script>
<{$i++}>
<{foreach  key=key item=sign   from=$data  }>
<{if ($sign.cando) }>
<div class="row-fluid  alert-success" >
<{ else }>
<div class="row-fluid" >
<{/if}>

<span class="span5"><div class="alert alert-info"><span class="badge badge-info"><{$i++}></span><{$sign.title}></div><{$sign.doc}></span>
<span class="span1"><span class="edit"> <i class="icon-pencil"></i></span><{$sign.admin}></span>
<a class="btn btn-success" href="export.php?mid=7">匯出名單</a>
<button  class="btn btn-danger"  >清空名單</button>
</div>
<{/foreach}>
